<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../../dist/css/style.css' />
  </head>
  <body>
    <% include header %>
    <main role="main">
      <div class="container">
        <a class="json-link" href="/api/posts"> <b>-></b> 前往 JSON 資料</a>
        <% lists.forEach(function(list){ %>
          <h2>
            <a href="/api/<%= list.id %>">
              <%= list.title %>
            </a>
          </h2>
        <% }); %>
      </div>
    </main>
    <% include footer %>
  </body>
</html>
