* {
  padding:0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
  background-color: #f8f9fa!important;
}
a {
  color: #00B7FF;
  text-decoration:none;
}
a:hover {
  color: rgb(160, 224, 250)
}
ul, li{
  list-style-type:none;
}
input[type="text"]{
  flex-direction:row;
  width: 200px;
  padding: .2rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.checkbox{
  display: flex;
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 5px;
  line-height: 20px;
}

.checkbox .btn{
 margin-left: .2em;
 margin-right: .2em;
}
.checkbox span{
  flex-direction:row;
  font-size: 20px;
  margin: 0 .3em 0 .5em;
  line-height: 35px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"]{
  flex-direction:row;
  margin-left: -20px;
  vertical-align: middle;
  height: 35px;
  color: #fff;
}

.wrap{
  width: 980px;
  margin: 0 auto;
}
.wrap.inp{
  margin-top: 1em;
}

.main-wrap{
  margin-top: 70px;
}

.tit{
  margin-right: 1em;
  cursor: pointer;
}
header{
  background-color: #343a40!important;
  padding: .5em 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
header h1{
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #fff;
  margin-right: .5em;
  display: inline-block;
}

header nav{
  display: inline-block;
}

header nav li{
  display: inline-block;
  margin-left: .5em;
  margin-right: .5em;
}

p {
  margin-bottom: 10px;
}

.flex-wrap{
  display: flex;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid rgba(0,0,0,.09);
}

footer {
  color: rgba(0, 0, 0, 0.927);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f0f0f0;
}

footer .wrap{
  text-align: center;
}

main li{
  width: auto;
  margin:1em 0;
  padding: 1em 20px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

code {
  font-size: 1.1rem;
  font-weight: bold;
  color: #e83e8c;
  word-break: break-word;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 5px 12px;
  margin: 0 5px;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover{
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:hover{
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
